@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

div.header{
	width: 100%;
	height:100px;
	display: block;
	background-color: #e7e6a9;
}

div.innerheader{
	width: 800px;
	height:100%;
	display: block;
	margin: 0 auto;
	
}

div.logo{
	height: 100%;
	float: left;
	display:table;
	
}

h2.evolvelogo {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat';
	font-size: 32px;
}

ul.navigation {
	float: right;
	height: 100%;
}

a.navigations {
	height: 100%;
	display:table-cell;
	vertical-align: middle;
	font-family: 'Montserrat';
	
}

li{
	height: 100%;
	display: table;
	float: left;
	font-size: 16 px;
	padding: 0px 20px;
}

div.section{
	width: 100%;
	height:60px;
	display: block;
	background-color: #000000;
}

ul.innersection {
	float:left;
	height: 100%;
}

a.innersections {
	height: 100%;
	display:table-cell;
	vertical-align: middle;
	font-family: 'Montserrat';	
	color: white;
}

div.box{
	float: right;
	height:100%;
	padding-right: 100px;
	margin: 20px;
}

input.box1{
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
	width: 120px;
	height: 20px;
}

input.box2{
	border: none;
	outline: none;
	padding: 0 15px;
	border-radius: 0 25px 25px 0;
	width: 80px;
	height: 20px;
	background: #808040;
}

div.box2:hover{
	color: white;
}

div.row{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content:center;
	background-size: contain;
	background-image:url("../img/20210908_163740518_iOS.png");
	background-position: center;
	background-repeat: no-repeat;
}

div.text-main{
	text-align: left;
}

div.img-main{
	display: inline;
	align-items: center;
	justify-content:center;
	height: 30vh;
	max-width: 100%;
}



